<h3>Создание информации о продавце:</h3>
<form action="/info" method="post" name="aboutUsForm">
  <div id="contentBox">
    <div class="boxInputs" id="box1">
      <input id="inputAboutUs" name="inputAboutUs" type="text" placeholder="О нас" required>
      <div class="boxUl">
        <input id="liAboutUs{{numberId}}{{box1}}" name="liAboutUs{{numberId}}{{box1}}" type="text" required>
      </div>
      <button class="button1AboutUs">Добавить еще</button>
    </div>


    <div class="boxInputs" id="box2">
      <input id="inputOurMasters" name="inputOurMasters" type="text" placeholder="Наши Мастера" required>
      <div class="boxUl">
        <input id="liAboutUs{{numberId}}{{box2}}" name="liAboutUs{{numberId}}{{box2}}" type="text" required>
      </div>
      <button class="button1AboutUs">Добавить еще</button>
    </div>


    <div class="boxInputs" id="box3">
      <input id="inputСontacts" name="inputСontacts" type="text" placeholder="Контакты" required>
      <div class="boxUl">
        <input id="adminTel" name="adminTel" type="tel" required>
        <input id="adminMail" name="adminMail" type="email" required>
      </div>
      <button class="button1AboutUs">Добавить еще</button>
    </div>
  </div>
  <button type="submit">Опубликовать информацию</button>
</form>
