

<main>
 {{getInputs number}}
  <div id="aboutUs">
    {{!-- {{#if adminName}} --}}
    <a id="updateInfoA" href="/admin/infoU">Изменить</a>
    <br>
    {{!-- {{/if}} --}}
    {{#each infoAboutUs}}
    <div>
      <h3>
        {{inputAboutUs}}
      </h3>
      <ul>
        {{#each liAboutUs1}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h3> {{inputOurMasters}}</h3>
      <ul>
        {{#each liAboutUs2}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div>
      <h3>{{inputСontacts}}</h3>
      <ul>
        <li>{{adminTel}}</li>
        <li>{{adminMail}}</li>
        {{#each liAboutUs3}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <p></p>
    </div>
    {{/each}}
  </div>

  <ul id="shopList">
    {{#each articles}}
    <br>
    <li class="shopLi">
      {{!-- {{#if ../adminName}} --}}
      <a class="aAdmin" href="/article/{{id}}">Изменить</a>
      <a id="aDelete" class="aAdmin" href="/article/{{id}}">Удалить</a>
      <br>
      {{!-- {{/if}} --}}
      <div class="flex">
        <div class="imgShop">
          <img src="{{articleImg}}" alt="{{articleTitle}}">
        </div>

        <ul class="ulShopInfo">
          <li class="article">артикул: {{articleArticle}}</li>
          <li class="title">{{articleTitle}}</li>
          <li class="description">{{articleDescription}}</li>
          <li class="price">{{articlePrice}} у.е.</li>
          <li class="bid"><a href="">Оставить заявку</a></li>
        </ul>
      </div>
    </li>
    {{/each}}
  </ul>

</main>
