<h3>Изменение информации об артикле:</h3>
<form action="/article/{{article.id}}" method="post" enctype="multipart/form-data" name="updateArticleForm">

  <div id="contentBox">

    <div>
      <label for="articleImg">Фото:<br>
        <input type="file" name="articleImg" id="articleImg" accept="image/*">
      </label>
      <div id="output">
        <img class="thumb" src="{{article.articleImg}}" alt="{{article.articleTitle}}">
      </div>
    </div>

    <div>
      <div class="articleForm">
        <label for="articleTitle">Название:<br>
          <input id="articleTitle" name="articleTitle" type="text" required value="{{article.articleTitle}}">
        </label>
        <label for="articlePrice">Цена:<br>
          <input id="articlePrice" name="articlePrice" type="number" required value="{{article.articlePrice}}">
        </label>
      </div>

      <label for="articleDescription">Описание:<br>
        <textarea cols="50%" rows="15" id="articleDescription" name="articleDescription" type="text"
          required>{{article.articleDescription}}</textarea>
      </label>

    </div>
  </div>
  <button type="submit">Изменить</button>
</form>
